* {
    box-sizing: border-box;
    font-family: Courier, sans-serif;
    font-size: 20px;
    font-weight: 900;  
}
body {background-color: rgb(135,187,162,.5);}
:root {
    --head-foot-color:#a60c82;
    --division-color: rgb(10, 6, 83);
    --mobile-background: rgb(78, 140, 240);
}
header {
    background-color: var(--head-foot-color);
    color: #b4eeb4;
    padding: 18px;
}    
footer {
    background-color: var(--head-foot-color);
    color: #b4eeb4;
    text-align: center;
    padding: 12px;
    margin-top: 85px;
    margin-bottom: 85px; 
}
nav {
    display: flex;
    flex-wrap: wrap;
    margin: 3%;
    text-align: center;
    justify-content: space-around;
    border: 2px solid var(--division-color) ;
    padding: 10px;
}
h1 {
    font-family: Helvetica, sans-serif;
    font-size: 75px;
}
h2 {
    font-size: 40px;
}
.jump-up {
    border: 1px solid --division-color;
    background: var(--head-foot-color);
    color: white;
    position: fixed;
    bottom: 18px;
    right: 8px;
    padding: 5px;
}
.burst {
    display: flex;
    width: 100%;
    height: auto;
}
.burst img {
    width: 33%;
}
.card {
    line-height: 1.25;
    margin: 30px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.across_subprojects {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;    
}
.container {
    display: flex;
    height: auto;
    margin: 30px auto;
}
.contactlinks {
    width: 33%;
    text-align: center;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 150px;
    line-height: 1.5;
}
.my_image {
    width: 33%;
    height: auto;
    text-align: center;
}
.img-cir {
    border-radius: 35%;
    width: 50%;
}
.my_resume {
    text-align: center;
    width: 33%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 250px;
    line-height: 2;
}
span {
    text-decoration: underline;
}
abbr{
    cursor: help;
}
@media screen and (max-width: 992px) {
    header {
        background: var(--mobile-background);
    }
    h1 {
        font-size: 50px;
    }
    .container {
        flex-direction: column;
    }
    .contactlinks {
        text-align: center;
        width: 100%;
        padding: 0px;
   }
    .across_subprojects {
        flex-direction: column;
        text-align: center;
    }
    .my_image {
        width: 100%;
    }
    .my_resume, h2, p {
        text-align: center;
        width: 100%;
        padding-right: 0px;
    }
}
  @media screen and (max-width: 576px) {
    header,
    footer {
        text-align: center;
        background: transparent;
        color: black;
    }
    h1 {
        font-size: 30px;
    }
    nav, .contactlinks {
        flex-direction: column;
    }
    body {
        background-color: rgb(243, 167, 117);
    }
    .center { 
        width: 100%;
    }
.jump-up {
        display: none;
    }
.across_subprojects {
        height: 33%;
    }
.spacey  {
        line-height: 2.5;
    }
}