* {
    box-sizing: border-box;
    font-family: Courier, sans-serif;
    font-size: 20px;
    font-weight: 900;    
}
body {
    background-image: linear-gradient(95deg, rgb(136, 234, 162), rgb(244, 188, 90));
}
:root {
    --head-foot-color:#a60c82;
    --division-color: rgb(10, 6, 83);
    --mobile-background: rgb(78, 140, 240);
}
h1 {
    font-family: Helvetica, sans-serif;
    font-size: 75px;
}
h2 {
    font-size: 40px;
}
.container {
    display: flex;
    width: 100%;
    height: auto;
    margin: 30px;
}
.img-cir {
    border-radius: 35%;
    width: 50%;
}
.my_image {
    width: 50%;
    height: auto;
    text-align: right;   
}
.my_resume {
    text-align: center;
    margin-right: 100px;
    width: 40%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.my_resume p,
.my_resume a {
    font-size: 125%;
}
.across {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;    
}
.burst {
    display: flex;
    width: 100%;
    height: auto;
}
ul img {
    width: 100%;
}
span {
    text-decoration: underline;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} 
.jump-up {
    border: 1px solid --division-color;
    background: var(--head-foot-color);
    color: white;
    position: fixed;
    bottom: 18px;
    right: 18px;
    padding: 5px;
}
header {
    background-color: var(--head-foot-color);
    color: #b4eeb4;
    padding: 18px;
}    
footer {
    background-color: var(--head-foot-color);
    color: #b4eeb4;
    text-align: center;
    padding: 12px;
    margin-top: 85px;
    margin-bottom: 85px; 
}
nav {
    display: flex;
    flex-wrap: wrap;
    margin: 3%;
    text-align: center;
    justify-content: space-around;
    border: 2px solid var(--division-color) ;
    padding: 10px;
}
.contactlinks {
    display: flex;
    flex-wrap: wrap;
    margin: 3%;
    text-align: center;
    justify-content: space-around;
    border: 4px;
    padding: 40px;
}
.card {
    border: 8px transparent;
    line-height: 1.25;
    margin: 25px;
}


@media screen and (max-width: 992px) {
    header {
        background: var(--mobile-background);
    }
    img {
        width:100%;
        height: auto;
    }
    .center {
        max-width: 70%;
    }
    .across {
        display: block;
        max-width: 70%;
        min-width: 20%;
        padding: 60px;
        margin-left: auto;
        margin-right: auto;    
    }
   .img-cir {
        border-radius: 50%;
        width: 20%;
    }
    .contact_section { 
        border: 8px transparent;
        padding: 40px; 
        display: flex;
    }
}
  @media screen and (max-width: 768px) {
    header {
        background: var(--mobile-background);
    }
    .contactlinks, nav {
        flex-direction: column;
        margin: 0;
        line-height: 2;
    }
    .container {
        flex-direction: column;
    }
    .img-cir {
        width: 175%;
        margin-left: 60px;
    }
    .my_resume {
        text-align: center;
        width: 100%;
    }
    h2,p {
        text-align: center;
    }
}
  
  @media screen and (max-width: 576px) {
    header {
        background: var(--mobile-background);
    } 
    nav, .contactlinks {
        flex-direction: column;
        /* background: rgb(134, 108, 36); */
    }
   * {
        color: rgb(196, 234, 197);
        background-color: brown;
    }
}